@import url('https://fonts.googleapis.com/css2?family=Saira:ital@0;1&display=swap');

body {
  margin: 0;
}

form{
  width: 80%;
}

.pageLogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 190px;
  height: 98vh;
  align-items: center;
  position: relative;
  z-index: 9999;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.imageBackgroundMain{
  background-size: cover;
  width: 130vw;
  z-index: -1;
  overflow: hidden;
  border-radius: 20px;
  position: fixed;
}

.formLogin{
  background-color: #0B1A40;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  width: 430px;
  height: 40vw;
}

.sentence{
  font-size: 28px;
  color: rgb(214, 224, 230);
  padding-top: 10px;
  margin: 45px;
}

.titleLogin{
  color: rgb(214, 224, 230);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.fLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
}

.emailAdress,
.passwordLogin{
  height: 30px;
  border-radius: 150px;
}

input#emailLogin,
input#fPassword {
  border-radius: 8px;
  height: 110px;
  width: 300px;
}

.submitLogin{
  width: 325px;
  height: 50px;
  color: white;
  background-color:#471b55 ;
  border-style: unset;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.submitLogin:hover{
  background-color: #563a61;
  cursor: pointer;
}

input[type=text], select {
  padding-left: 17px;
  font-weight: bold;
}

.separator{
  flex-grow: 1;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  background-color: aliceblue;
}

.logoMentor{
  font-size: 120px;
  font-family: 'Saira', sans-serif;
  color: #111213;
}

.ia{
  font-weight: 900;
}

span{
  font-size: 14px;
  text-decoration: underline;
  color: aliceblue;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
