<section>
  <div>
      <img class="imageBackgroundMain" srcset="backgroundFeatu.png">
  </div>
  <div class="formLogin">
    <h1 class="sentence">Bem vindo de volta explorador, vamos continuar com a aventura!</h1>
      <h2 class="titleLogin">Login into your account</h2>
      <form class="fLogin" action="post">
          <label class="emailAdress" for="emailLogin"></label>
          <input type="text" id="emailLogin" name="emailAdress" placeholder="Email">

          <label class="passwordLogin" for="fPassword"></label>
          <input type="text" id="fPassword" name="passwordLogin" placeholder="Password">

          <button class="submitLogin">Submit</button>
      </form>
  </div>  
</section>
