<app-default-page-logo
  title = "Bem vindo de volta explorador, vamos continuar com a aventura!"
  titleL = "Login into your account"
  primaryBtnText = "Login"
  secondBtnText = "Create account"
  (navigate)="navigate()"
  (submit)="submit()"
  [disabledPrimaryBtn] = "!loginForm.valid"
  >
  
  <form [formGroup]="loginForm">
    <app-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeHolder="spockai@email.com">
    </app-input>
    <app-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Your password"
      >
    </app-input>
    <span>Forgot password?</span>
  </form>
</app-default-page-logo>


