<div>
  <img class="imageBackgroundMain" srcset="backgroundFeatu.png">
</div>
<section class="pageLogo">
  <div class="formRegister">
    <h1 class="sentence">Live long and prosper &#128406;. Saudações explorador! Está pronto para explorar e descobrir novos caminhos?  </h1>
    <h2 class="titleLogin">Crie sua conta</h2>
      <form class="fRegister">
        <label class="fullName" for="fullNameRegister"></label>
        <input type="text" id="fullNameRegister" placeholder="Nome completo">
        <label class="cpf" for="cpfRegister"></label>
        <input type="number" id="cpfRegister" placeholder="Cpf">
        <label class="telefone" for="telefoneRegister"></label>
        <input type="number" id="telefoneRegister" placeholder="Telefone">
        <label class="email" for="emailRegister"></label>
        <input type="email" id="emailRegister" placeholder="Email">
        <label class="password" for="passwordRegister"></label>
        <input type="password" id="passwordRegister" placeholder="Digite sua senha">
      </form>
  </div>
  <div class="right">
    <h1 class="logoMentor">Mentor<span class="ia">IA</span></h1>
  </div>
</section>
