<app-default-page-logo
title = "Está pronto para explorar e descobrir novos caminhos?"
titleL = "Crie sua conta"
primaryBtnText = "Create account" 
secondBtnText = "Login"
(navigate)="navigate()"
(submit)="submit()"
[disabledPrimaryBtn] = "false"
>

<form [formGroup]="registerForm">
  <app-input
    formControlName="nomeCompleto"
    inputName="nomeCompleto"
    type="text"
    label="Nome Completo"
    placeHolder="">
  </app-input>
  <app-input
    formControlName="email"
    inputName="email"
    type="email"
    label="Email"
    placeHolder="spockai@email.com">
  </app-input>
  <app-input
    formControlName="password"
    inputName="password"
    type="password"
    label="Your password"
    >
  </app-input>
    <app-input
    formControlName="password"
    inputName="password"
    type="password"
    label="Repeat your password"
    >
  </app-input>
</form>

</app-default-page-logo>
