
<h2>Vou te ajudar a decobrir o universo sobre a profissão que você deseja!</h2>


<p>Sei o quanto essa fase é difícil, e por isso estou aqui para te ajudar
a entender sobre a profissão que você tem interesse. </p>
<p>Então vamos descobrir tudo juntos -
  Como se preparar? O que é necessário para exercer?<br>
  Como está o mercado de trabalho? As prospeções para o futuro.<br>
  Qual a média salário? Quais as reais dificuldades apresentadas
  por profissionais que já atuam?
</p>

<p>Estou aqui para te apresentar um relatório e reunir as experiências
   dos seus futuros colegas de profissão,
  mas lembre<br> <strong>a Decisão é sua, qual o caminho a percorrer!</strong> </p>

<h3>Está preparado?</h3>

<h4>Live long and prosper &#128406;</h4>

<form [formGroup]="questionForIa">

</form>
