<div>
  <img class="imageBackgroundMain" srcset="ceuEstrelado.png">
</div>
<main class="container">

<section class="messagePage">
<h1>Vida longa e prospera explorador 🖖</h1>
<h2>Vou te ajudar a explorar sobre a profissão dos seus sonhos!</h2>

<p>Meu objetivo é te ajudar a compreender
   melhor a profissão que tem interesse.
</p>
<h2>Está pronto para começar?</h2>


</section>
<div style="display: none;" class="responseIa">
  <p class="responseMessage">{{ responseMessage }}</p>
</div>

<div class="input-question">
  <label for="inputQuestion">Qual a profissão que deseja conhecer?</label>
  <div class="input-content">
    <input
      id="inputQuestion"
      type="text"
      [(ngModel)]="question"

    />
    <button (click)="sendQuestion()" class="sendQuestion">Enviar</button>
  </div>
</div>
</main>
