<main>
  <div>
    <img class="imageBackgroundMain" srcset="ceuEstrelado.png">
  </div>
  <section class="pageLogo">
    <div class="formLogin">
      <h1 class="sentence">{{title}}</h1>
      <h2 class="titleLogin">{{ titleL }}</h2>
      <ng-content></ng-content>
      <div>
        <button (click)="submit()" [disabled]="disabledPrimaryBtn" class="submitLogin">{{ primaryBtnText }}</button>
        <hr class="separator">
        <button (click)="navigate()" class="registeLogin">{{secondBtnText}}</button>
      </div>

    </div>
    <div class="right">
      <h1 class="logoMentor">Mentor<span class="ia">IA</span></h1>
    </div>
  </section>
</main>